langchain
langchain_openai
streamlit
python-dotenv
langchain_community
langchain-ollama
langserve
fastapi
uvicorn
langchain-openai
sse_starlette
ipykernel
bs4
pypdf
Chromadb
faiss-cpu
lancedb
arxiv
wikipedia
langchainhub
beautifulsoup4
groq
langchain-groq
cassio